<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TrelloAPITestSuite" verbose="1">
    <listeners>
        <listener class-name="Listeners.Log4jListener"></listener>
        <listener class-name="Listeners.ExtentReportListener"></listener>
    </listeners>
    <test name="APIAutomationTest">
        <classes>
            <class name="Tests.BaseTest" />
            <class name="Tests.GetQuoteOfTheDay" />
        </classes>
    </test>
</suite>